<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="../resources/angular.min.js"></script>
<body data-ng-app="myApp">
<div class="container">
<form role="form" data-ng-submit="submit()" class="form-horizontal"
		 action="" data-ng-controller="Forum">
		 <br><br><br><br><br>
		  <div class="form-group">
                    <label for="forumname" class="col-sm-3 control-label">Forum Name</label>
                    <div class="col-sm-9">
		 <input type="text" data-ng-model="forumname" class="form-control" autofocus> <br>
		</div></div>	

				  <div class="form-group">
                    <label for="forumdesc" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
		<textarea draggable="false" rows="13" data-ng-model="forumdesc" class="form-control" autofocus></textarea>
		</div></div>
		 <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
			<button type="submit" class="btn btn-primary ">Save Forum</button>
			</div></div>
	</form>
	</div>
	<div class="container" style="padding-top:10px">
	<div class="row">
        <div class="col-md-4 col-md-offset-3">
         <form action="" class="search-form">
                <div class="form-group has-feedback">
	<input type="text" data-ng-model="search" placeholder="search forum"  class="form-control">
	 <span class="glyphicon glyphicon-search form-control-feedback"></span>
	 </div>
	 </form>
	</div></div></div>
	<br>
	<br>
	<br>
	
	<div data-ng-init="getAllForums()">
	<div data-ng-repeat="forum in forums | filter:search">
	<div class="container">
	<div class="row">
 <div class="span3">
        	<div class="well">
	<h2 class="text-info">{{forum.fid}}</h2>
		<p ><span class="label label-info"><a href="" data-ng-click="getforum(forum.fid)"><font size="3">{{forum.forumname}}</font></a></span></p>
		<hr>
	<p>{{forum.forumdesc}}</p>
	<hr>
	<button data-ng-show="forum.userid==globals.currentUser.username" data-ng-click="editForum(forum.fid,forum.name,forum.desc)" class="btn btn-success">Edit</button>
	<button data-ng-show="forum.userid==globals.currentUser.username" data-ng-click="deleteForum(forum.fid)" class="btn btn-primary btn-danger">Delete</button>
	<!-- <button data-ng-click="deleteForum(forum.fid)" class="btn btn-primary btn-danger">delete</button> -->
	</div>
	</div></div></div></div></div>
	<script type="text/javascript" src="Forum.js"></script>
</body>
</html>
